<h2>チェックボックス</h2>
<mat-checkbox [(ngModel)]="model" (change)="onChange('basic')" >クリックミー</mat-checkbox>
<br />
<mat-checkbox [(ngModel)]="model" color="primary" (change)="onChange('primary')" >Prime</mat-checkbox>
<br />
<mat-checkbox [(ngModel)]="model" color="warn" (change)="onChange('warn')" >Warn</mat-checkbox>
<br />

<mat-checkbox [(ngModel)]="model" disabled >Disabled</mat-checkbox>
<br />

<mat-checkbox [(ngModel)]="model" labelPosition="before" disabled >Before</mat-checkbox>

<br />
<br />


<h2>Indeterminate</h2>
<mat-checkbox [(ngModel)]="all" (change)="setAll($event.checked)" [indeterminate]="someComplete()" (indeterminateChange)="onIndeterminateChange()">タスク</mat-checkbox>
<ul>
    <li *ngFor="let task of tasks">
        <mat-checkbox [(ngModel)]="task.checked" (change)="updateAll()">{{ task.name }}</mat-checkbox>
    </li>
</ul>
