
<h2>Basic</h2>
<div>
    <button mat-button color="basic" (click)="click('basic-basic')" (focus)="focus('basic-basic')">Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://google.com">Link</a>
</div>
<br />
<h2>Raised</h2>
<div>
    <button mat-raised-button color="basic">Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="warn">Warn</button>
    <a mat-raised-button href="https://google.com">Link</a>
</div>
<br />

<h2>Stroked</h2>
<div>
    <button mat-stroked-button color="basic">Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="warn">Warn</button>
    <a mat-stroked-button href="https://google.com">Link</a>
</div>
<br />

<h2>Flat</h2>
<div>
    <button mat-flat-button color="basic">Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="warn">Warn</button>
    <a mat-flat-button href="https://google.com">Link</a>
</div>
<br />

<h2>Icon</h2>
<div>
    <button mat-icon-button color="basic">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
    </button>
</div>
<br />

<h2>Fab</h2>
<div>
    <button mat-fab color="basic">
        <mat-icon aria-label="basic">home</mat-icon>
    </button>
    <button mat-fab color="primary">
        <mat-icon aria-label="primary">home</mat-icon>
    </button>
    <button mat-fab color="warn">
        <mat-icon aria-label="warn">home</mat-icon>
    </button>
</div>
<br />

<h2>Fab Mini</h2>
<div>
    <button mat-mini-fab color="basic">
        <mat-icon aria-label="basic">home</mat-icon>
    </button>
    <button mat-mini-fab color="primary">
        <mat-icon aria-label="primary">home</mat-icon>
    </button>
    <button mat-mini-fab color="warn">
        <mat-icon aria-label="warn">home</mat-icon>
    </button>
</div>

