<mat-card>
    <img mat-card-image src="./assets/images/content.jpeg" />
    <button mat-icon-button>
        <mat-icon>label</mat-icon> #猫  #ひろし
    </button>
    <mat-card-header>
        <div mat-card-avatar class="avatar-image" style="background-image : url('./assets/images/avatar.jpg')"></div>
        <mat-card-title>猫</mat-card-title>
        <mat-card-subtitle>@cat</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        うちの猫可愛すぎーーーー!
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary" >SHERE</button>
        <button mat-icon-button>
            <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
    <mat-card-footer>
         ©キジテック
    </mat-card-footer>
</mat-card>

<br>

<mat-card>
    <mat-card-content>
        <mat-card-title-group>
            <mat-card-title>猫の気持ち</mat-card-title>
            <mat-card-subtitle>
                猫まじかわいいいいいいいいいいい<br>
                猫ペロペロペロペロ...
            </mat-card-subtitle>
            <img mat-card-sm-image src="./assets/images/content.jpeg" />
         </mat-card-title-group>
    </mat-card-content>
</mat-card>

<br>

<mat-card>
    this is simple card.
</mat-card>

